@import "tailwindcss";

body {
  background-color: rgb(176, 137, 211);
}

.icon {
  text-align: center;
  border: 4px solid;
  /* margin-top: 35vmin; */
}

.footer {
  position: fixed;
  bottom: 0;

  text-align: center;
  width: 100%;
  background-color: rgb(137, 99, 171);
}

#profile,
#portfolio,
#linkakun {
  background-color: rgb(147, 51, 234);

  scrollbar-width: none;
}

#project-title {
  font-weight: bold;

  font-family: sans-serif, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#contact-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
